[submodule "DotRecast"]
	path = DotRecast
	url = https://github.com/ikpil/DotRecast.git
[submodule "FFXIVClientStructs"]
	path = FFXIVClientStructs
	url = git@github.com:ottercorp/FFXIVClientStructs.git
	branch = cn
